<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>О нас</title>
	<link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<div id="logo">
				<a href="index.html"><img src="/static/images/logo.png" alt="LOGO"></a>
			</div>
			<ul id="navigation">
				<li>
					<a href="/">Главная</a>
				</li>
				<li class="selected">
					<a href="about.html">О нас</a>
				</li>
				<li>
					<a href="gallery.html">Галерея</a>
				</li>
				<li>
					<a href="contact.html">Контакты</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="contents">
		<div>
			<div class="body" id="about">
				<div id="sidebar">
					<div class="body">
						<img src="/static/images/resort.png" alt="Img">
						<div class="contact">
							<p>
								Для заказа или пожеланий звоните: <b>8-925-260-84-00</b> Или просто напишите нам: <b class="email">info@carvedcreations.com</b>
							</p>
						</div>
					</div>
				</div>
				<div id="main">
					<h1>О нас</h1>
					<h4>У нас есть идеи для каждого</h4>
					<p>
						Все бабочки мы создаем с трепетом и аккуратностью, начиная с расцветкой, заканчивая шириной перемычки. Наш проект - это реализованное желание заниматься полезным, интересным делом, которое дарит светлые эмоции нашему сообществу. С идеями вы можете познакомится в <a href="/gallery.html">галерее</a>.
					</p>
					<h4>История</h4>
					<p>
						Все началось довольно безобидно. В один вечер, после просмотра типичного американского фильма, мы сидели и мечтали о небольшом проекте, который бы не был супер прибыльным, но дарил бы улыбки и настроение. Так, потихоньку, день за днем мы выстраивали свою политику и, наконец, следуем ей безотказно.
					</p>

					<h4>Люди</h4>
					<p>
						<a href="http://vk.com/evstrat_bg">Богдан</a> занимается разработкой сайта и развитием проекта<br> <a href="http://vk.com/tut_enot">Маргарита</a> - сердце проекта. Именно она шьет вам аккуратные и красивые бабочки ;)
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>