<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>WOWbowties</title>
	<link rel="stylesheet" href="static/css/style.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<meta name="google-site-verification" content="GeeLCZPUres4jX7R8S7mPomIBa5w7QZHG8TItqZgEIM" />
</head>
<body>
	<div id="header">
		<div>
			<div id="logo">
				<a href="/"><img src="static/images/logo.png" alt="LOGO"></a>
			</div>
			<ul id="navigation">
				<li class="selected">
					<a href="/">Главная</a>
				</li>
				<li>
					<a href="about.html">О нас</a>
				</li>
				<li>
					<a href="gallery.html">Галерея</a>
				</li>
				<li>
					<a href="contact.html">Контакты</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="contents">
		<div>
			<div class="body">
				<div id="adbox">
					<img src="static/images/bowtiegreen.jpg" alt="Img"> <span class="info">Зеленая пара<em>₽250</em><a href="index.html" class="btn1">Детали</a></span>
					<div class="details">
						<h1>Каждая бабочка<br> сделана с любовью<br> и вниманием</h1>
						<p>
							У нас широкий ассортимент бабочек. Всегда найдется какая-нибудь для любого праздника, настроения или просто для повседневного ношения. А если вдруг Вам ни одна не приглянулась, то мы можем сшить бабочку согласно Вашим пожеланиям
						</p>
					</div>
				</div>
				<ul id="bowtie">
					<li>
						<div>
							<img src="static/images/bowtie_brown.png" alt="Img">
						</div>
						<div class="details">
							<h4>Качество</h4>
							<p>
								Этот проект - наше хобби. Все трудятся ради своего удовольствия и это отражается на наших продуктах
							</p>
						</div>
					</li>
					<li class="bowtie_girl">
						<div>
							<img src="static/images/bowtie_girl.png" alt="Img">
						</div>
						<div class="details">
							<h4>Время</h4>
							<p>
								Мы никогда не спешим, потому что искренне уверены, что качество намного важнее количества
							</p>
						</div>
					</li>
					<li class="cloth">
						<div>
							<img src="static/images/pachwork.png" alt="Img">
						</div>
						<div class="details">
							<h4>Ткани</h4>
							<p>
								Мы используем только лучшие ткани для наших бабочек. Именно поэтому они не только аккуратные, но и красивые
							</p>
						</div>
					</li>
				</ul>
				<div class="contact">
					<p>
						 Для заказа звоните: <b>8-925-260-84-00</b> Наша мастерская находится в городе:<b>Домодедово<br>ул. Кирова</b>
					</p>
				</div>
				<div class="blog">
					<h4>Бабочки дня</h4>
					<div>
						<img src="/static/images/carving-small2.png" alt="Img"> <span>Коричневый бал</span>
						<p>
							₽300
						</p>
						<a href="blog.html" class="more">Подробнее</a>
					</div>
					<div>
						<img src="/static/images/resort-small.png" alt="Img"> <span>Желтая лоза</span>
						<p>
							₽330
						</p>
						<a href="blog.html" class="more">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>